
<section class="hero spad set-bg" data-setbg="/Content/img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero__text">
                    @*<div class="hero__text__title">
                        <span>
                            ENCUENTRE EL AUTO DE SUS SUEÑOS
                        </span>
                        <h2>Porsche Cayenne S</h2>
                    </div>*@
                    @*<div class="hero__text__price">
                        <div class="car-model">Model 2019</div>
                        <h2>$399<span>/Month</span></h2>
                    </div>*@
                    @*<a href="#" class="primary-btn"><img src="~/Content/img/wheel.png" alt=""> Test Drive</a>
                    <a href="#" class="primary-btn more-btn">Learn More</a>*@
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Car Rental</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Buy Car</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="hero__tab__form">
                                <h2>Encuentre el auto de sus sueños</h2>
                                <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">
                                                    Seleccionar año
                                                </option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Seleccionar Marca</p>
                                            <select>
                                                <option data-display=" ">Seleccionar Marca</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Seleccionar Modelo</p>
                                            <select>
                                                <option data-display=" ">Seleccionar Modelo</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>
                                                Seleccionar kilometraje
                                            </p>
                                            <select>
                                                <option data-display=" ">
                                                    Seleccionar kilometraje
                                                </option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Precio de gomas:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Buscar</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="hero__tab__form">
                                <h2>
                                    Compra el auto de tus sueños
                                </h2>
                                <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">Select Year</option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Brand</p>
                                            <select>
                                                <option data-display=" ">Select Brand</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <
                                                <option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Model</p>
                                            <select>
                                                <option data-display=" ">Select Model</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Mileage</p>
                                            <select>
                                                <option data-display=" ">Select Mileage</option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Searching</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>